<div class="flex flex-col justify-center items-center">
  <div [ngClass]="light.toggle?'bg-red-500' : 'bg-green-600'"
       (click)="light.toggle = !light.toggle"
       class="flex
           justify-center
           items-center
           h-40 w-40
           rounded-lg
           shadow-lg
           transition
           duration-500
           ease-in-out">

    <div class="text-white">
      <h1 class="text-2xl font-bold">{{ light.toggle ? 'Allumé' : 'OFF' }}</h1>
    </div>
  </div>

  <div>
    <h1 class="text-2xl">{{ light.title }}</h1>
  </div>

</div>
