<div class="flex flex-col gap-3 p-3">
  <button class="p-3 bg-blue-300 rounded-lg" (click)="lightService.addLight(light.title)">
    Ajouter
  </button>
  <input class="p-3 rounded-lg bg-blue-100 shadow"
         placeholder="Entrer un nom de pièce..."
         [(ngModel)]="light.title">
</div>
<div class="flex gap-3 p-3">
    <div
      *ngFor="let light of lightService.getAllLights()"
      class=" flex flex-col justify-center items-center">
      <app-light [light]="light" (remove)="handleRemoveLight(light.id)" (toggled)="switchLight(light)"></app-light>
    </div>
</div>
